
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+HK:wght@400;500;600;700&display=swap'); 
@font-face {
    font-family: "Nimbus";
    src: url("./NimbusMono-Regular.otf");
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Nimbus";
    src: url("./NimbusMono-Bold.otf");
    font-weight: bold;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Nimbus";
    src: url("./NimbusMono-Oblique.otf");
    font-weight: normal;
    font-style: oblique;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Nimbus";
    src: url("./NimbusMono-BoldOblique.otf");
    font-weight: bold;
    font-style: oblique;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Genyo";
    src: url("./GenYoMinTW-R.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Genyo";
    src: url("./GenYoMinTW-L.ttf");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "Genyo";
    src: url("./GenYoMinTW-B.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Genyo";
    src: url("./GenYoMinTW-EL.ttf");
    font-weight:200;
    font-style: normal;
}
html, body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container{
    width: 90vw;
    height: 90vh;
    margin: auto;
    padding-top: 5vh;
}

.indexM{
    display: flex;
    font-size: large;
}

.en-title{
    font-family: 'Nimbus','Genyo', monospace;
    display: inline-block;
    width: 50%;
}

.ch-title{
    font-family: 'Nimbus','Genyo', serif;
    display: inline-block;
    width: 50%;
}

#p5-container{
   aspect-ratio: 16/10;
   width: 100%;
   /* display: flex; */
   /* position: relative; */
}

#p5-container:fullscreen > canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
}

#p5-container::backdrop{
    background-color: white;
}

.content{
    display: flex;
}

.chinese{
    font-family: 'Nimbus','Genyo', serif;
    width: 45% ;
    margin-right: 5%;
    text-align: justify;
}

.english{
    margin-left: 5%;
    width: 45%;
    font-family: 'Nimbus','Genyo', monospace;
    line-height: 1.1;
    text-align: justify;
    /* font-size: small; */
}

.link{
    font-family: 'Nimbus','Genyo', monospace;
}

.title{
    font-weight: 700;
}
.footnote{
    margin-bottom: 5vh;
}

.linki{
    width: 50%;
    font-size: small;
}

a{
    color: black;
}
a:hover{
    color: black;
    font-weight: 700;
    text-decoration-thickness: 2px;
}